<table class="table" *ngIf="employee">
    <tr>
        <td>Id</td>
        <td>{{employee.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{employee.name}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{employee.age}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{employee.status}}</td>
    </tr>
</table>
<button class="btn btn-default" [routerLink]="['/employees']">Back</button>
<button class="btn btn-default" [routerLink]="['overview']">Overview</button>
<button class="btn btn-default" [routerLink]="['projects']">Project</button>
<router-outlet></router-outlet>